[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/cpaulik/vim-snippets.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = http://github.com/scrooloose/syntastic
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = http://github.com/vim-scripts/tlib
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = http://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = http://github.com/bling/vim-airline
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-python-pep8-indent"]
	path = bundle/vim-python-pep8-indent
	url = http://github.com/hynek/vim-python-pep8-indent
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule "/home/pydev/.vim/bundle/tlib_vim"]
	path = /home/pydev/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = https://github.com/aperezdc/vim-template
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
